@font-face {
    font-family: 'zabras';
    src: url('/fonts/zabars.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
} 

body {    
    font-family: 'zabras', Arial, Helvetica, sans-serif;
    margin: 0;
}

canvas {
    background-color: black;
    border-radius: 9px;
}

h1 {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 69px;
    font-weight: lighter;
    color: #6d2010;
    letter-spacing: 3px;
}

h2 {
    font-weight: lighter;
    color: #6d2010;
    letter-spacing: 3px;
    margin-block-start: 24px;
    font-size: 28px;
}

#fullscreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(img/bg.png);
    background-size: cover;
    height: 100vh;
    width: 100%;
    margin: 0;
    background-position: center;
}

.button {
    border-radius: 9px;
    padding: 10px 20px;
    background-color: #FFCF15;
    border: none;
    margin: 10px;
    cursor: pointer;
    font-weight: bold;
    margin-top: -58px;
    font-family: 'zabras', Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    font-size: 25px;
    font-weight: lighter;
}

.button:hover {
    background-color: #FFA400;
}

.restart-button {
    margin-top: -63px;
}

.d-none {
    display: none;
}

.dark-overlay {
    filter: brightness(0.7);
}