@font-face {
    font-family: 'zabras';
    src: url('/fonts/zabars.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
} 

body {    
    font-family: 'zabras', Arial, Helvetica, sans-serif;
    margin: 0;
}

canvas {
    background-color: black;
    border-radius: 9px;
    display: block;
}

h1 {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 69px;
    font-weight: lighter;
    color: #6d2010;
    letter-spacing: 3px;
}

h2 {
    font-weight: lighter;
    color: #6d2010;
    letter-spacing: 3px;
    margin-block-start: 24px;
    font-size: 28px;
    text-align: center;
}

#fullscreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(img/bg.png);
    background-size: cover;
    height: 100vh;
    width: 100%;
    margin: 0;
    background-position: center;
}

.button {
    border-radius: 9px;
    padding: 10px 20px;
    background-color: #ffc115;
    border: none;
    margin: 10px;
    cursor: pointer;
    font-weight: bold;
    font-family: 'zabras', Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    font-size: 25px;
    font-weight: lighter;
}

.button:hover {
    background-color: #FFA400;
}

.d-none {
    display: none;
}

.absolute {
    position: absolute;
}

.dark-overlay {
    filter: brightness(0.7);
}

.flex {
    display: flex;
}

.relative {
    position: relative;
}

.hud {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lower-hud {
    padding: 0 48px 6px;
    justify-content: center;
    align-items: center;
}

.hud img {
    height: 32px;
    width: 28px;
    border-radius: 100%;
    background-color: #ffc115;
    padding: 8px;
    border: 2px solid #6d2010;
}

.lower-left-hud {
    display: flex;
    gap: 24px;
    display: none;
}

.lower-right-hud {
    display: flex;
    gap: 24px;
    display: none;
}

.lower-right-hud img {
    height: 28px;
    width: 32px;
}

@media only screen and (max-width: 720px){
    canvas {
        width: 100%;
        border-radius: 0;
    }
    
    .headline {
        display: none;
    }

    #fullscreen-text {
        display: none;
    }
}

@media only screen and (max-height: 620px){
    .headline {
        display: none;
    }

    #fullscreen-text {
        display: none;
    }
}

@media only screen and (max-height: 480px){
    canvas {
        height: 100vh;
        border-radius: 0;
    }

    #fullscreen {
        justify-content: flex-start;
    }
}

@media (pointer: coarse) {  /*ONLY ON MOBILE DEVICES*/
    .lower-right-hud {
        display: flex;
    }

    .lower-left-hud {
        display: flex;
    }

    .lower-hud {
        justify-content: space-between;
    }
}
