@font-face {
    font-family: 'zabras';
    src: url('./fonts/zabars.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
} 

body {    
    font-family: 'zabras', Arial, Helvetica, sans-serif;
    margin: 0;
}

canvas {
    background-color: black;
    border-radius: 9px;
    display: block;
}

h1 {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 69px;
    font-weight: lighter;
    color: #6d2010;
    letter-spacing: 3px;
}

h2 {
    font-weight: lighter;
    color: #6d2010;
    letter-spacing: 3px;
    margin-block-start: 24px;
    font-size: 28px;
    text-align: center;
}

#help-screen {
    background-color: #000000e0;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 999;
    border-radius: 9px;
}

#fullscreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(img/bg.png);
    background-size: cover;
    height: 100vh;
    width: 100%;
    margin: 0;
    background-position: center;
}

.button {
    border-radius: 9px;
    padding: 10px 20px;
    background-color: #ffc115;
    border: none;
    margin: 10px;
    cursor: pointer;
    font-weight: bold;
    font-family: 'zabras', Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    font-size: 25px;
    font-weight: lighter;
}

.button:hover {
    background-color: #FFA400;
}

.d-none {
    display: none !important;
}

.absolute {
    position: absolute;
}

.dark-overlay {
    filter: brightness(0.7);
}

.flex {
    display: flex;
}

.relative {
    position: relative;
}

.hud {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.upper-hud {
    padding: 12px 20px;
    justify-content: flex-end;
    align-items: center; 
}

.upper-hud img:hover {
    cursor: pointer;
    background-color: #FFA400;
}

.lower-hud {
    padding: 0 48px 6px;
    justify-content: center;
    align-items: center;
}

.hud img {
    border-radius: 100%;
    background-color: #ffc115;
    padding: 8px;
    border: 2px solid #6d2010;
}

.lower-left-hud {
    display: flex;
    gap: 24px;
    display: none;
}

.lower-left-hud img {
    height: 32px;
    width: 28px;
}

.lower-right-hud {
    display: flex;
    gap: 24px;
    display: none;
}

.lower-right-hud img {
    height: 28px;
    width: 32px;
}

.screen-to-small {
    background-color: #FFA400;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    color: #6d2010;
    display: none;
    z-index: 2;
    position: absolute;
    text-align: center;
}

.loading-screen {
    background-color: black;
    position: absolute;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
}

.loading-screen img {
    height: 128px;
    animation: rotate 500ms linear infinite;
}

.close-btn {
    position: absolute;
    margin-top: 10px;
    right: 10px;
    font-family: 'zabras', Arial, Helvetica, sans-serif;
    background-color: transparent;
    border: none;
    font-size: 42px;
    color: #FFA400;
    cursor: pointer;
}

.help-screen-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 50px 0;
    font-size: 32px;
    color: #FFA400;
    letter-spacing: 1px;
}

.images img {
    background-color: #FFA400;
    border-radius: 6px;
    padding: 9px;
    height: 28px;
}

.help-screen-text {
    width: 72%
}

.help-key {
    background-color: #FFA400;
    color: #6d2010;
    padding: 10px 9px 7px 10px;
    border-radius: 6px;
}

.space-img {
    width: 42px;
    padding: 15px 6px 15px 6px;
    background-color: #FFA400;
    border-radius: 6px;
}

.attention-help-text {
    font-size: 42px;
    text-align: center;
    display: flex;
    padding: 50px;
    color: #FFA400;
    letter-spacing: 2px;
}

.upper-hud-btn {
    height: 26px;
    width: 22px;
    margin-left: 12px;
}

@media only screen and (max-width: 720px){
    canvas {
        width: 100%;
        border-radius: 0;
    }

    #help-screen {
        border-radius: 0;
    }
    
    .headline {
        display: none;
    }

    #fullscreen-text {
        display: none;
    }
}

@media only screen and (max-height: 620px){
    .headline {
        display: none;
    }

    #fullscreen-text {
        display: none;
    }
}

@media only screen and (max-height: 480px){
    canvas {
        height: 100vh;
        border-radius: 0;
    }

    #help-screen {
        border-radius: 0;
    }

    #fullscreen {
        justify-content: flex-start;
    }

    .help-screen-child {
        padding: 35px 35px 0;
    }
}

@media only screen and (max-width: 530px) {
    .button {
        padding: 6px 16px;
        font-size: 18px;
    }

    .lower-left-hud img {
        height: 24px;
        width: 20px;
    }

    .lower-right-hud img {
        height: 20px;
        width: 24px;
    }
}

@media only screen and (max-height: 400px) {
    .button {
        padding: 6px 16px;
        font-size: 18px;
    }

    .lower-left-hud img {
        height: 24px;
        width: 20px;
    }

    .lower-right-hud img {
        height: 20px;
        width: 24px;
    }
}

@media only screen and (max-width: 442px) {
    .screen-to-small {
        display: flex;
    }

    #fullscreen {
        display: none;
    }
}

@media only screen and (max-height: 295px) {
    .screen-to-small {
        display: flex;
    }

    #fullscreen {
        display: none;
    }
}

@media (max-width: 620px), (max-height: 400px)  {
    .upper-hud-btn {
        height: 18px;
        width: 18px;
    }
}

@media (max-width: 530px), (max-height: 365px)  {
    .upper-hud-btn {
        height: 16px;
        width: 16px;
        padding: 5px !important;
    }
}



/* HELP SCREEN HEIGHT ADAPTIONS */

@media only screen and (max-height: 446px) {
    .attention-help-text {
        font-size: 36px;
    }
}

@media  only screen and (max-height: 425px){
    .attention-help-text {
        font-size: 32px;
        padding: 35px;
    }

    .help-screen-text {
        font-size: 24px;
    }

    .images img {
        height: 18px;
    }

    .space-img {
        width: 28px
    }

    .help-key {
        padding: 7px 7px 6px 8px;
        border-radius: 6px;
        font-size: 29px;
    }
}

@media only screen and (max-height: 360px) {
    .help-screen-child {
        padding: 25px 25px 0;
    }

    .attention-help-text {
        font-size: 26px;
        padding: 20px;
    }
}


/* HELP SCREEN WIDTH ADAPTIONS*/

@media only screen and (max-width: 700px) {
    .attention-help-text {
        font-size: 32px;
    }

    .help-screen-child {
        padding: 35px 35px 0;
    }

    .help-screen-text {
        font-size: 28px;
    }

    .images img {
        height: 18px;
    }

    .space-img {
        width: 28px
    }

    .help-key {
        padding: 7px 7px 6px 8px;
        border-radius: 6px;
        font-size: 29px;
    }
}

@media only screen and (max-width: 610px) {
    .attention-help-text {
        padding: 35px;
        font-size: 28px;
    }

    .help-screen-text {
        width: 80%;
    }
}

@media only screen and (max-width: 560px) {
    .attention-help-text {
        padding: 25px;
    }

    .help-screen-child {
        padding: 25px 25px 0;
    }
}

@media only screen and (max-width: 560px) {
    .help-screen-text {
        font-size: 24px;
    }
}

@media only screen and (max-width: 470px) {
    .attention-help-text {
        font-size: 26px;
    }
}


/*WIDTH AND HEIGHT FOR HELP SCREEN*/

@media (max-width: 700px) and (max-height: 345px)  {
    .attention-help-text {
        font-size: 26px;
    }

    .help-screen-child {
        padding: 20px 20px 0;
    }
}

@media (max-width: 610px) and (max-height: 300px)  {
    .attention-help-text {
        padding: 20px;
    }
}

/*CHECK IF ON MOBILE DEVICE*/

@media (pointer: coarse) {  /*ONLY ON MOBILE DEVICES*/
    .lower-right-hud {
        display: flex;
    }

    .lower-left-hud {
        display: flex;
    }

    .lower-hud {
        justify-content: space-between;
    }
}



@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}